<div class="header-1">

  <a href="" class="logo"><i class="fa-solid fa-dumbbell"></i>GALLERY</a>

  <form action="" class="search-box-container">
      <input type="search" id="search-box" placeholder="search here...">
      <label for="search-box" class="fas fa-search"></label>
  </form>

</div>


<div class="header-2">

  <div id="menu-bar" class="fas fa-bars"></div>

  <nav class="navbar">
      <a routerLink="">home</a>
      <a routerLink="slidergallery">LargePic</a>
      <a routerLink="animatedgallery">ANIMATEDGALLERY</a>
  </nav>
  <div class="icons">
      <a  routerLink="upload"  class="fas fa-plus">ADD A PIC</a>
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-user-circle"></a>
  </div>
</div>
