.footeer{
  background: #2c2f4a;
  color: #aeb2d6;
  padding: 40px;
  h3{
    color: #f37746;
    text-shadow: 0px 2px 2px #000;
  }
  .newsl{
    p{
      margin-bottom: 30px;
    }
  }
  .proj{
   margin-bottom: -10px;
  }
  .cont{
    margin-bottom: 30px;
  }
}
